name: Tests

on:
    push:
    pull_request:

jobs:
    tests:
        runs-on: ubuntu-latest

        strategy:
            fail-fast: true
            matrix:
                php: [7.4, 7.3, 7.2, 7.1]
                laravel: [^8.0, ^7.0, ^6.0, 5.8.*, 5.7.*, 5.6.*, 5.5.*]
                include:
                    - laravel: ^8.0
                      testbench: ^6.0
                      phpunit: 9.3
                    - laravel: ^7.0
                      testbench: ^5.0
                      phpunit: 8.5
                    - laravel: ^6.0
                      testbench: ^4.0
                      phpunit: 8.5
                    - laravel: 5.8.*
                      testbench: ^3.8
                      phpunit: 7.5
                    - laravel: 5.7.*
                      testbench: ^3.7
                      phpunit: 7.0
                    - laravel: 5.6.*
                      testbench: ^3.6
                      phpunit: 7.0
                    - laravel: 5.5.*
                      testbench: ^3.5
                      phpunit: 6.0
                exclude:
                    - laravel: ^8.0
                      php: 7.2
                    - laravel: ^8.0
                      php: 7.1
                    - laravel: ^7.0
                      php: 7.1
                    - laravel: ^6.0
                      php: 7.1
                    - laravel: 5.7.*
                      php: 7.4
                    - laravel: 5.6.*
                      php: 7.4
                    - laravel: 5.6.*
                      php: 7.3
                    - laravel: 5.5.*
                      php: 7.4

        name: P${{ matrix.php }} - L${{ matrix.laravel }}

        steps:
            - name: Checkout code
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  extensions: dom, curl, libxml, mbstring, zip
                  tools: composer:v2
                  coverage: pcov

            - name: Setup problem matchers for PHP
              run: echo "::add-matcher::${{ runner.tool_cache }}/php.json"

            - name: Setup problem matchers for PHPUnit
              run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

            - name: Get composer cache directory
              id: composer-cache
              run: |
                  echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

            - name: Cache dependencies
              uses: actions/cache@v3
              with:
                  path: ${{ steps.composer-cache.outputs.dir }}
                  key: $p{{ matrix.php }}-l{{ matrix.laravel }}-composer-${{ hashFiles('**/composer.json') }}
                  restore-keys: $p{{ matrix.php }}-l{{ matrix.laravel }}-composer-

            - name: Install dependencies
              run: |
                  composer require "illuminate/console:${{ matrix.laravel }}" "illuminate/support:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" "phpunit/phpunit:^${{ matrix.phpunit }}" --no-interaction --no-update
                  composer update --prefer-dist --no-interaction --no-progress

            - name: Setup PCOV
              if: ${{ matrix.phpunit < 8 }}
              run: |
                  composer require pcov/clobber
                  vendor/bin/pcov clobber

            - name: Execute tests
              run: vendor/bin/phpunit --verbose --whitelist=src --coverage-clover=build/coverage/clover.xml

            - name: Upload coverage
              uses: sudo-bot/action-scrutinizer@latest
              with:
                  cli-args: "--format=php-clover build/coverage/clover.xml"
